<!DOCTYPE html>
<html lang="en">
<head>
  {% include "head.njk" %}
</head>
<body>
  <nav>
    <div class="topbar">
      <a href="/" class="topbar__logo-container">
        {{ '/src/assets/logo.svg' | svgContents("topbar__logo") | safe }}
      </a>

      {% set navPages = collections.all | eleventyNavigation %}
      <ul class="navbar">
        {%- for entry in navPages %}
          <li class="navbar__item">
            <a href="{{ entry.url }}" class="navbar__link{% if entry.url == page.url %} navbar__link--active{% endif %}">
              {{ entry.title }}
            </a>
          </li>
        {%- endfor %}
      </ul>
      <div class="flex gap-6 md:gap-10 ml-12">
        <a href="https://github.com/maful/libur.run" target="_blank" rel="noopener noreferrer">
          <span class="before:block before:absolute before:-inset-1 before:rounded-tl-full before:rounded-br-full before:bg-[#2970FF] relative inline-block">
            <span class="relative text-white p-2">Libur.run</span>
          </span>
        </a>
        <a href="https://railstips.dev" target="_blank" rel="noopener noreferrer">
          <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-red-500 relative inline-block">
            <span class="relative text-white">RailsTips.dev</span>
          </span>
        </a>
      </div>
    </div>
    <ul class="mobile-navbar">
      {%- for entry in navPages %}
        <li class="mobile-navbar__item">
          <a href="{{ entry.url }}" class="mobile-navbar__link{% if entry.url == page.url %} mobile-navbar__link--active{% endif %}">
            {{ entry.title }}
          </a>
        </li>
      {%- endfor %}
    </ul>
  </nav>

  {{ content | safe }}

  {% include "footer.njk" %}
</body>
</html>
