<!DOCTYPE html>
<html lang="en">
<head>
  {% include "head.njk" %}
</head>
<body>
  <nav>
    <div class="topbar">
      <a href="/" class="topbar__logo-container">
        {{ '/src/assets/logo.svg' | svgContents("topbar__logo") | safe }}
      </a>

      {% set navPages = collections.all | eleventyNavigation %}
      <ul class="navbar">
        {%- for entry in navPages %}
          <li class="navbar__item">
            <a href="{{ entry.url }}" class="navbar__link{% if entry.url == page.url %} navbar__link--active{% endif %}">
              {{ entry.title }}
            </a>
          </li>
        {%- endfor %}
      </ul>
      <div class="ml-12">
        <a href="https://railstips.dev" target="_blank">
          <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-red-500 relative inline-block">
            <span class="relative text-white">RailsTips.dev</span>
          </span>
        </a>
      </div>
    </div>
  </nav>

  {{ content | safe }}

  {% include "footer.njk" %}
</body>
</html>
