pre {
  @apply my-4 overflow-x-auto rounded;

  code {
    @apply flex min-h-full min-w-max flex-wrap py-4 px-0 font-dm-mono text-base;

    .line {
      @apply w-full px-4 py-1;
    }

    .line-number {
      @apply mr-5;
    }

    .line.line-highlight {
      background-color: #00000050;
    }

    .line.line-remove {
      @apply bg-red-500/10;

      span {
        @apply !text-red-400;
      }
    }

    .line.line-add {
      @apply bg-green-500/10;

      span {
        @apply !text-green-400;
      }
    }
  }

  code.has-focus-lines {
    .line:not(.line-focus) {
      transition: filter 0.35s, opacity 0.35s;
      filter: blur(0.095rem);
      opacity: 0.65;
    }

    &:hover {
      .line:not(.line-focus) {
        filter: blur(0px);
        opacity: 1;
      }
    }
  }
}
