nav {
  @apply relative w-full overflow-x-scroll p-0 pt-6;
  background-color: rgba(252, 252, 253, 0.95);

  @media screen(sm) {
    @apply p-6;
  }

  &::before {
    @apply absolute h-[3px] w-full bg-sky-500;

    content: "";
    top: 0;
    left: 0;
  }

  .topbar {
    @apply relative mx-auto flex flex-col items-center justify-between gap-4 px-6 sm:p-0 md:justify-start md:gap-8 lg:mx-0 lg:max-w-screen-lg lg:flex-row;

    &__logo-container {
      @apply m-0 mb-4 cursor-pointer border-none shadow-none sm:m-2;
    }

    &__logo {
      @apply h-6;
    }
  }

  .navbar {
    @apply hidden overflow-auto p-0 uppercase sm:flex sm:list-none sm:space-x-6 md:space-x-8 lg:space-x-10;

    &__item {
      @apply inline-block text-base;
    }

    &__link {
      @apply border-b border-sky-300 font-light text-sky-600 no-underline;
      box-shadow: theme("colors.sky.300") 0 -2px 0 0 inset;
      transition: background 0.2s ease-in;

      &:hover {
        @apply bg-sky-300;
        transition: background 0.3s ease-in;
      }

      &--active {
        @apply bg-sky-300;
      }
    }
  }

  .mobile-navbar {
    @apply flex list-none items-center justify-center space-x-4 overflow-auto bg-gray-100/50 p-0 px-4 py-6 uppercase sm:hidden;

    &__item {
      @apply inline-block text-base;
    }

    &__link {
      @apply border-b border-sky-300 font-light text-sky-600 no-underline;

      &--active {
        @apply bg-sky-300;
      }
    }
  }
}
