---
title: About
layout: base.njk
description: Hi, I'm Maful Prayoga. As a developer, I love building things that help make people's lives easier and care about experience.
eleventyNavigation:
  key: About
  order: 2
---

<main>
  <div class="about">
    <div class="about__wrapper">
      <div class="about__description bio">
        <h1 class="bio__heading">Hi, I'm Maful Prayoga.</h1>
        <p>I am a passionate Software Engineer, Designer, and part-time Farmer from Indonesia. With a love for building innovative solutions that enhance people's lives, I am dedicated to creating seamless user experiences. I also contribute to the open-source community by maintaining and developing projects that benefit people worldwide.</p>
        <p>Beyond my tech pursuits, I embrace a well-rounded lifestyle. Exploring my culinary skills, traveling to new places, and indulging in video games are some of my favorite pastimes. Moreover, I find solace in reading books, and currently, I am engrossed in "The Power of Habit" which I believe will provide valuable insights for personal growth.</p>
        <p><strong>Balancing my tech-driven endeavors with activities I love is crucial for my overall well-being.</strong></p>
        <p>Feel free to explore the <a href="https://github.com/maful" target="_blank" rel="noopener noreferrer">open-source projects I have created</a>, as they showcase my dedication to solving real-world problems and contributing to the development community. I am always excited about new challenges and opportunities that allow me to blend my skills.</p>
        <p>Thank you for visiting my page, and I hope my diverse experiences and projects reflect my commitment to excellence and personal growth.</p>

        <h2>Open Source Projects</h2>
        <p>Throughout my career, I have been passionate about giving back to the community by actively contributing to open source initiatives and creating projects that are accessible to everyone, <strong>free of charge</strong>.</p>

        <h2>I need to talk to you, where I can find you?</h2>
        <p>If you want to discuss, talk, or just share something with me. Feel free to contact me and I will try my best to answer you. You can find me at:</p>
        <ul>
          <li>GitHub: <a href="https://github.com/maful" target="_blank" rel="noopener noreferrer">github.com/maful</a></li>
          <li>Twitter: <a href="https://twitter.com/mafulprayoga" target="_blank" rel="noopener noreferrer">@mafulprayoga</a></li>
          <li>Email: <a href="mailto:me@maful.web.id?subject=I%20need%20to%20talk%20to%20you">Text Me</a></li>
        </ul>
        <p>* I don't share my phone number publicly and if you find a phone number in my name, please just ignore it.</p>
      </div>
    </div>
  </div>

  <section>
    <div>
      {% image "https://holopin.me/maful", "Awards" %}
    </div>
  </section>
</main>
