---
title: Blog
layout: base.njk
permalink: /posts/
description: Learn about web development, design, agriculture and games.
eleventyNavigation:
  key: Blog
  order: 3
---

<main>
  <div class="page max-w-7xl">
    <div class="page__wrapper">
      <header class="pb-16 sm:text-center">
        <h1 class="mb-4 text-3xl sm:text-4xl tracking-tight text-slate-900 font-extrabold">Blog</h1>
        <p class="text-lg font-light text-slate-700">Learn about web development, design, agriculture & games.</p>
      </header>

      <div class="max-w-2xl mx-auto mt-6 mb-10">
        <div class="relative space-y-12">
          {% for post in collections.posts | reverse %}
            <article class="relative group">
              <div class="absolute -inset-y-2.5 -inset-x-4 md:-inset-y-4 md:-inset-x-6 sm:rounded-2xl group-hover:bg-slate-50/70 dark:group-hover:bg-slate-800/50"></div>
              <div class="relative">
                <h3 class="text-base font-semibold tracking-tight text-slate-800">{{ post.data.title }}</h3>
                <div class="mt-2 mb-4 line-clamp-2 text-[#334155] text-base font-light">
                  <p>{{ post.data.description }}</p>
                </div>
              </div>
              <a href="{{ post.url | url }}" class="flex items-center text-sm text-sky-500">
                <span class="absolute -inset-y-2.5 -inset-x-4 md:-inset-y-4 md:-inset-x-6 sm:rounded-2xl"></span>
                <span class="relative">
                  Read more
                </span>
                <svg class="relative mt-px overflow-visible ml-2.5 text-sky-300 dark:text-sky-700" width="3" height="6" viewBox="0 0 3 6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M0 0L3 3L0 6"></path></svg>
              </a>
            </article>
          {%- endfor %}
        </div>
      </div>
    </div>
  </div>
</main>
